In [1]:
db = [
    ["Vimal", 11111, "jaipur"],
    ["rahul", 22222, "delhi"],
    ["krish", 33333, "mum"],
    ["yash", 4444, "jaipur"]
]

In [2]:
db

[['Vimal', 11111, 'jaipur'],
 ['rahul', 22222, 'delhi'],
 ['krish', 33333, 'mum'],
 ['yash', 4444, 'jaipur']]

In [3]:
x = 5

In [4]:
type(x)

int

In [5]:
type(db)

list

In [6]:
#list dont support column operations
#we can use numpy array to do column wise operation

In [7]:
#converting a list into array after importing numpy
import numpy

In [17]:
a = numpy.array(db)

In [18]:
type(a)

numpy.ndarray

In [15]:
# add . after the module name to check all the functions

In [19]:
a[0]

array(['Vimal', '11111', 'jaipur'], dtype='<U21')

In [20]:
a[1:]

array([['rahul', '22222', 'delhi'],
       ['krish', '33333', 'mum'],
       ['yash', '4444', 'jaipur']], dtype='<U21')

In [21]:
a[:3]

array([['Vimal', '11111', 'jaipur'],
       ['rahul', '22222', 'delhi'],
       ['krish', '33333', 'mum']], dtype='<U21')

In [22]:
# in numpy nd array we can tell the array the column number we are interested in just by mentioning it after comma
a[ : , 0]

array(['Vimal', 'rahul', 'krish', 'yash'], dtype='<U21')

In [23]:
a[ : , : ]

array([['Vimal', '11111', 'jaipur'],
       ['rahul', '22222', 'delhi'],
       ['krish', '33333', 'mum'],
       ['yash', '4444', 'jaipur']], dtype='<U21')

In [24]:
a[1:3, 1:3]

array([['22222', 'delhi'],
       ['33333', 'mum']], dtype='<U21')

In [41]:
#strings
s = "this is linux world"

In [42]:
s

'this is linux world'

In [43]:
#string is list of characters

In [44]:
type(s)

str

In [45]:
s[0]

't'

In [46]:
s[3]

's'

In [47]:
s[3:7]

's is'

In [48]:
s[3:]

's is linux world'

In [49]:
s[:9]

'this is l'

In [50]:
b = ["harry", "pop", "linux", "vimal"]

In [51]:
b

['harry', 'pop', 'linux', 'vimal']

In [52]:
b[1]

'pop'

In [53]:
b[-1]

'vimal'

In [54]:
s[-5]

'w'

In [55]:
s[-5:]

'world'

In [56]:
s[0:-5]

'this is linux '

In [57]:
salary = 6
type(salary > 5)

bool

In [63]:
phone = list(a[:,1])

In [64]:
phone

['11111', '22222', '33333', '4444']

In [65]:
#iteration
for i in phone:
    print(i)

11111
22222
33333
4444